{%load staticfiles%}
<html>
    <head>


        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">


        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/gota.png' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="{%url 'blog:home'%}">Rita Romão</a></h1>
            <h3>Descubra oque está acontecendo em Magé</h3>
        </div>
        <div class="topnav">
            <a href="{% url 'core:home' %}">Home</a>
            <a href="{% url 'blog:home' %}">Blog</a>
            <a href="#">Contato</a>
        </div>

            {% block content %}
            {% endblock %}


    <div class="footer">
        <h3>Por uma Magé Melhor</h3>
    </div>

    </body>
</html>