{%load staticfiles%}
<html>
    <head>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
        <link rel="shortcut icon" type="image/png" href="{% static 'img/gota.png' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <h1><a href="{%url 'blog:home'%}">Lista de Postagens</a></h1>
        </div>

            {% block content %}
            {% endblock %}
    

    <div class="footer">
        Simple MOOC - Uma simples plataforma de ensino a distância
    </div>

    </body>
</html>