
{% extends 'blog/base.html' %}
{% block content %}
{%load staticfiles%}
<head>

    <title>Studio <echo> </title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">


</head>
<div class="row">
{% for post in posts %}
<div class="col-sm-4 text-center">
        <a href="{% url 'blog:post' post.slug %}">
        {%if post.image%}
        <img src="{{post.image.url}}" alt="{{post.title}}" style="width:80%;height:320px;">
        {%else%}
        <img src="{% static 'img/floresta.jpg' %}" alt="{{post.title}}" style="width:80%;height:320px;">
        {% endif %}
        <hr>
        <h2><a href="{% url 'blog:post' post.slug %}">{{ post.title }}</a></h1>
        <h4>Autor: {{post.author}}</h3>
        <p>Publicado em: {{ post.published_date }}</p>
</div>
{% endfor %}
</div>
{% endblock %}<div class="row"></div>